.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    align-items: end;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    margin: 0;
    align-items: start;
  }
}